* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
  font-family: 'Rubik';
}

.calculator--body {
  background-color: rgb(104, 104, 104);
  width: 400px;
  height: 500px;
  border-radius: 1%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}

.display--part {
  background-color: darkolivegreen;
  width: 80%;
  height: 15%;
  border: 1px solid black;
}

.keyboard--part {
  height: 75%;
  width: 80%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
}

.first--row {
  height: 15%;
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  margin-bottom: 10px;
}

.other--rows {
  width: 100%;
  height: 80%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  /* grid-template-rows: ; */
  row-gap: 5px;
  column-gap: 5px;
}

.key {
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
